<link rel="import" href="../../../../node_modules/@polymer/polymer/polymer-element.html">
<link rel="import" href="../../../../node_modules/@polymer/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../../node_modules/@polymer/polymer/lib/elements/dom-if.html">

<dom-module id="donna-view-home">
  <template>
    <style>
      :host {
        position: relative;
        width: calc(100% - 70px);
        height: 100vh;
        float: left;
        margin-left: 70px;
      }

      :host .messages {
        padding-top: var(--d-spacing-lg);
        padding-bottom: 96px;
      }
/*      :host .messages > donna-chat-bubble-user:last-of-type, :host .messages > donna-chat-bubble-system:last-of-type {
        margin-bottom: 96px;
      }
      :host .messages > donna-chat-loading {
        margin-bottom: 96px;
      }*/
    </style>
    <div class="messages">
      <template is="dom-repeat" items="[[messages]]">
        <template is="dom-if" restamp="true" if="{{item.isUser}}">
          <donna-chat-bubble-user text="[[item.text]]"></donna-chat-bubble-user>
        </template>
        <template is="dom-if" restamp="true" if="{{!item.isUser}}">
          <donna-chat-bubble-system text="[[item.text]]"></donna-chat-bubble-system>
        </template>
      </template>
      <donna-chat-loading class="hide-hack" hidden="[[!loading]]"></donna-chat-loading>
    </div>
    <donna-message-bar></donna-message-bar>
  </template>
  <script>
    import boozer from '../../middleware/boozer'
    import poke from '../../middleware/poke'
    class Element extends Polymer.Element {
      ready () {
        super.ready()
        const self = this
        const defaultMessages = [
          {
            isUser: false,
            text: `Donna's in the building 💁`
          },
          {
            isUser: false,
            text: `I'm your cheeky new assistant who learns and understands your browsing habits, and then uses that information to help manage and procure all of your favorite content 🎉`
          },
          {
            isUser: false,
            text: `A great assistant is one you can trust.  Your browsing data stays safe with me and will never be shared with any third parties 🛡`
          },
          {
            isUser: false,
            text: `You'll be surprised at how quickly I pick things up.  Go ahead and ask me for something 🤸`
          }
        ]

        const pushMessage = (message) => {
          self.push('messages', message)
          window.scrollTo(0, 1000000)
        }

        // lol
        let timeSoFar = 0
        defaultMessages.forEach((message, index) => {
          setTimeout(() => {
            if (message.isUser === false) {
              self.loading = true
              setTimeout(() => {
                self.loading = false
                pushMessage(message)
              }, 1500)
            } else {
              pushMessage(message)
              window.scrollTo(0, 1000000)
            }
          }, timeSoFar)
          timeSoFar += (message.text.length * 35)
        })

        boozer.subscribe('search', () => {
          self.loading = true
          const question = poke.get('question')
          pushMessage({
            'isUser': true,
            'text': question
          })
        })
        boozer.subscribe('searchResult', (result) => {
          pushMessage({
            'isUser': false,
            'text': result
          })
          self.loading = false
        })
      }
      static get is () {
        return "donna-view-home"
      }
      static get properties () {
        return {
          messages: {
            type: Array,
            value: []
          },
          loading: {
            type: Boolean,
            value: false
          }
        }
      }
    }
    window.customElements.define(Element.is, Element)
  </script>
</dom-module>
