<link rel="import" href="../../../../node_modules/@polymer/polymer/polymer-element.html">

<dom-module id="donna-view-home">
  <template>
    <style>
      :host {
        position: relative;
        width: calc(100% - 70px);
        height: 100vh;
        float: left;
        margin-left: 70px;
      }
    </style>
    <donna-chat-bubble-system></donna-chat-bubble-system>
    <donna-chat-bubble-system></donna-chat-bubble-system>
    <donna-chat-bubble-system></donna-chat-bubble-system>
    <donna-chat-bubble-user></donna-chat-bubble-user>
    <donna-chat-bubble-system></donna-chat-bubble-system>
    <donna-chat-bubble-user></donna-chat-bubble-user>
    <donna-chat-bubble-system></donna-chat-bubble-system>
    <donna-chat-bubble-user></donna-chat-bubble-user>
    <donna-chat-bubble-system></donna-chat-bubble-system>
    <donna-chat-bubble-system></donna-chat-bubble-system>
    <donna-chat-bubble-system></donna-chat-bubble-system>
    <donna-chat-bubble-user></donna-chat-bubble-user>
    <donna-chat-bubble-system></donna-chat-bubble-system>
    <donna-chat-bubble-user></donna-chat-bubble-user>
    <donna-chat-bubble-system></donna-chat-bubble-system>
    <donna-chat-bubble-user></donna-chat-bubble-user>
    <donna-chat-bubble-system></donna-chat-bubble-system>
    <donna-chat-bubble-system></donna-chat-bubble-system>
    <donna-chat-bubble-system></donna-chat-bubble-system>
    <donna-chat-bubble-user></donna-chat-bubble-user>
    <donna-chat-bubble-system></donna-chat-bubble-system>
    <donna-chat-bubble-user></donna-chat-bubble-user>
    <donna-chat-bubble-system></donna-chat-bubble-system>
    <donna-chat-bubble-user></donna-chat-bubble-user>
    <donna-message-bar></donna-message-bar>
  </template>
  <script>
    class Element extends Polymer.Element {
      static get is() {
        return "donna-view-home"
      }
    }
    window.customElements.define(Element.is, Element)
  </script>
</dom-module>
