<link rel="import" href="../../../../node_modules/@polymer/polymer/polymer-element.html">

<dom-module id="donna-message-bar">
  <template>
    <style>

      :host {
        position: fixed;
        left: 70px;
        /*height: 100px;*/
        bottom: 0;
        right: 0;
        overflow: auto;
        padding: var(--d-spacing-sm);
        border-top: 1px solid var(--d-dark-40);
        background-color: var(--d-dark-0);
      }

      :host input.message-bar {
        float: left;
        height: 30px;
        padding: 0 var(--d-spacing-md);
        border: none;
        appearance: none;
        outline: none;
        display: block;
        width: 75%;
        font-size: var(--d-font-size-md);
        color: var(--d-dark-100);
        background-color: var(--d-dark-0);
      }

      :host input.message-bar::placeholder {
        color: var(--d-dark-60);
      }

      :host donna-return-btn {
        float: right;
      }

    </style>
    <input on-keypress="searchText" class="message-bar" placeholder="Search your history..." type="text">
    <donna-return-btn></donna-return-btn>

  </template>
  <script>
    import boozer from '../../middleware/boozer'
    class Element extends Polymer.Element {
      searchText (e) {
        boozer.subscribe('searchResult', result => {
          console.log('search result input bar', result)
          this.shadowRoot.querySelector("input").value = ""
        })
        boozer.publish('searchText', e.path[0].value)
        // enter key lol
        if (e.charCode === 13) {
          boozer.publish('search')
        }
      }
      static get is() {
        return "donna-message-bar"
      }
    }
    window.customElements.define(Element.is, Element)
  </script>
</dom-module>
