:root {

  --d-primary: #0087ff;
  --d-primary-hl: #1A93FF;
  --d-primary-dk: #0071D5;

  --d-blue: #07d0ff;

  --d-dark-100: #292b2b;
  --d-dark-80: #5b5f60;
  --d-dark-60: #9da0a1;
  --d-dark-40: #e5e5e5;
  --d-dark-20: #EEEEEE;
  --d-dark-0: #f9f9f9;

  --d-white: #ffffff;


  --d-font: 'Roboto';

  --d-font-size-md: 15px;
  --d-font-size-lg: 21px;



  --d-transition-value: .1s;

  --d-transition-sm: all var(--d-transition-value) ease-out;
  --d-transition-md: all calc(var(--d-transition-value) * 2) ease-out;
  --d-transition-lg: all calc(var(--d-transition-value) * 4) ease-out;


  --d-spacing-value: 6px;

  --d-spacing-sm: var(--d-spacing-value);
  --d-spacing-md: calc(var(--d-spacing-value) * 2);
  --d-spacing-lg: calc(var(--d-spacing-value) * 4);


  --d-border-radius-value: 4px;

  --d-border-radius-sm: var(--d-border-radius-value);
  --d-border-radius-md: calc(var(--d-border-radius-value) * 2);
  --d-border-radius-lg: calc(var(--d-border-radius-value) * 3);


  --d-letter-spacing: 1px;

}


html {
  box-sizing: border-box;
}

:root *, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-family: var(--d-font);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--d-dark-0);
}

a {
  text-style: underline;
  color: var(--d-white);
}