<link rel="import" href="../../../../node_modules/@polymer/polymer/polymer-element.html">
<link rel="import" href="../index.html">

<dom-module id="donna-chat-bubble-system">
  <template>
    <style>
      
      :host {
      }
      
      :host div {
        display: inline-block;
        padding: var(--d-spacing-md);
        background-color: var(--d-primary);
        border-radius: var(--d-border-radius-lg) var(--d-border-radius-lg) var(--d-border-radius-lg) var(--d-border-radius-sm);
        color: var(--d-white);
        letter-spacing: var(--d-letter-spacing);
        max-width: 440px;
        margin-bottom: var(--d-spacing-lg);
        line-height: var(--d-spacing-lg);
      }

    </style>

    <div>
      Response
    </div>

  </template>
  <script>
    import '../../middleware/fetchy-instance.js'
    class Element extends Polymer.Element {
      static get is() {
        return "donna-chat-bubble-system"
      }
    }
    window.customElements.define(Element.is, Element)
  </script>
</dom-module>
