<link rel="import" href="../../../../node_modules/@polymer/polymer/polymer-element.html">

<dom-module id="donna-chat-bubble-system">
  <template>
    <style>
      
      :host {
      }

      :host .response-wrapper {
        position: relative;
        display: block;
        width: 100%;
      }

      :host .donna-avatar {
        display: block;
        position: absolute;
        bottom: 24px;
        left: 10px;
        border-radius: 50%;
        background-color: var(--d-dark-80);
        width: 28px;
        height: 28px;
      }
      
      :host .response-wrapper .response {
        display: inline-block;
        padding: var(--d-spacing-md);
        background-color: var(--d-primary);
        border-radius: var(--d-border-radius-lg) var(--d-border-radius-lg) var(--d-border-radius-lg) var(--d-border-radius-sm);
        color: var(--d-white);
        letter-spacing: var(--d-letter-spacing);
        max-width: 440px;
        margin-bottom: var(--d-spacing-lg);
        margin-left: 50px;
        line-height: var(--d-spacing-lg);
        font-size: var(--d-font-size-md);
      }

    </style>

    <div class="response-wrapper">
      <div class="donna-avatar"></div>
      <div class="response">
        Response
      </div>
    </div>


  </template>
  <script>
    class Element extends Polymer.Element {
      static get is() {
        return "donna-chat-bubble-system"
      }
    }
    window.customElements.define(Element.is, Element)
  </script>
</dom-module>
