<link rel="import" href="../../../../node_modules/@polymer/polymer/polymer-element.html">

<dom-module id="donna-chat-bubble-user">
  <template>
    <style>
      
      :host {
      }
      
      :host .message-wrapper {
        display: block;
        width: 100%;
      }

      :host .message-wrapper .message {
        display: inline-block;
        float: right;
        padding: var(--d-spacing-md);
        background-color: var(--d-dark-100);
        border-radius: var(--d-border-radius-lg) var(--d-border-radius-lg) var(--d-border-radius-sm) var(--d-border-radius-lg);
        color: var(--d-white);
        letter-spacing: var(--d-letter-spacing);
        max-width: 440px;
        margin-bottom: var(--d-spacing-lg);
        margin-right: var(--d-spacing-lg);
        line-height: var(--d-spacing-lg);
        font-size: var(--d-font-size-md);
      }

    </style>

    <div class="message-wrapper">
      <div class="message">
        Donna show me dem thicc booty hoes
      </div>
    </div>

  </template>
  <script>
    class Element extends Polymer.Element {
      static get is() {
        return "donna-chat-bubble-user"
      }
    }
    window.customElements.define(Element.is, Element)
  </script>
</dom-module>
