<link rel="import" href="../../../../node_modules/@polymer/polymer/polymer-element.html">
<link rel="import" href="../index.html">

<dom-module id="donna-app">
  <template>
    <style>
      :host {
        /* due to routing */
        /* display: none; */
      }
    </style>
    <donna-square></donna-square>
    <donna-chat-bubble-system></donna-chat-bubble-system>
  </template>
  <script>
    import '../../middleware/fetchy-instance.js'


    // this code was blatantly copied from https://chromium.googlesource.com/chromium/src/+/master/chrome/common/extensions/docs/examples/api/history/showHistory/typedUrls.js
    window.addEventListener('load', function () {
      // Track the number of callbacks from chrome.history.getVisits()
      // that we expect to get.  When it reaches zero, we have all results.
      var numRequestsOutstanding = 0;
      chrome.history.search({
        'text': 'twitter', // Return every history item....
        'startTime': new Date().getTime() - (1000 * 60 * 60 * 24 * 30)
      }, function (historyItems) {
        // For each history item, get details on all visits.
        for (var i = 0; i < historyItems.length; ++i) {
          var url = historyItems[i].url;
          var processVisitsWithUrl = function processVisitsWithUrl(url) {
            // We need the url of the visited item to process the visit.
            // Use a closure to bind the  url into the callback's args.
            return function (visitItems) {
              processVisits(url, visitItems);
            };
          };
          chrome.history.getVisits({ url }, processVisitsWithUrl(url));
          numRequestsOutstanding++;
        }
        if (numRequestsOutstanding === 0) {
          onAllVisitsProcessed();
        }
      });
      // Maps URLs to a count of the number of times the user typed that URL into
      // the omnibox.
      var urlToCount = {};
      // Callback for chrome.history.getVisits().  Counts the number of
      // times a user visited a URL by typing the address.
      var processVisits = function processVisits(url, visitItems) {
        for (var i = 0, ie = visitItems.length; i < ie; ++i) {
          // Ignore items unless the user typed the URL.
          // if (visitItems[i].transition != 'typed') {
          //   continue;
          // }
          if (urlToCount[url] === undefined) { // ???
            urlToCount[url] = 0;
          }
          urlToCount[url]++;
        }
        // If this is the final outstanding call to processVisits(),
        // then we have the final results.  Use them to build the list
        // of URLs to show in the popup.
        if (--numRequestsOutstanding === 0) {
          onAllVisitsProcessed();
        }
      };
      // This function is called when we have the final list of URls to display.
      var onAllVisitsProcessed = function onAllVisitsProcessed() {
        console.log('inside onAllVisitsProcessed');
        // Get the top scoring urls.
        var urlArray = [];
        for (var url in urlToCount) {
          urlArray.push(url);
        }
        // Sort the URLs by the number of times the user typed them.
        urlArray.sort(function (a, b) {
          return urlToCount[b] - urlToCount[a];
        });
        console.warn('new', urlArray);
      };
    });


    class Element extends Polymer.Element {
      static get is() {
        return "donna-app"
      }
    }
    window.customElements.define(Element.is, Element)
  </script>
</dom-module>
