<link rel="import" href="../../../../node_modules/@polymer/polymer/polymer-element.html">
<link rel="import" href="../index.html">

<dom-module id="donna-app">
  <template>
    <style>
      :host {
        /* due to routing */
        /* display: none; */
      }

    </style>

    <donna-nav></donna-nav>
    <donna-view-home data-shite-route="donna-view-home"></donna-view-home>
    <donna-view-settings data-shite-route="donna-view-settings"></donna-view-settings>

  </template>
  <script>
    import _ from 'lodash'
    import past from '../../middleware/past'
    import boozer from '../../middleware/boozer'
    import fetchy from '../../middleware/fetchy'
    import walkyTalky from '../../middleware/walky-talky'
    import shiteRouter from '../../middleware/shite-router'


    window.addEventListener('load', function () {
      const fetchyInstance = new fetchy()
      fetchyInstance.setBaseUrl('http://localhost:9000')

      const processUrl = (url) => {
        fetchyInstance.post('resources/interpret', {url})
          .then((res) => console.log(res))
          .catch(err => console.info(url, err))
      }

      past()
        .then(urls => {
          console.warn('urls', urls)
          _.forEach(urls, url => {
            if (!localStorage[url.url]) {
              processUrl(url.url)
            }
            localStorage[url.url] = true
          })
        })
        .catch(error => {
          console.error('could not get urls', error)
        })

    });


    class Element extends Polymer.Element {
      ready () {
        super.ready()
        const shiteRouterInstance = shiteRouter(this.shadowRoot)
        shiteRouterInstance.go('donna-view-home')
        boozer.subscribe('shite-router-go', (route) => {
          shiteRouterInstance.go(route)
        })
      }
      static get is() {
        return "donna-app"
      }
    }
    window.customElements.define(Element.is, Element)
  </script>
</dom-module>
