<link rel="import" href="../../../../node_modules/@polymer/polymer/polymer-element.html">
<link rel="import" href="../index.html">

<dom-module id="donna-app">
  <template>
    <style>
      :host {
        /* due to routing */
        /* display: none; */
      }
    </style>
    <donna-view-home></donna-view-home>
  </template>
  <script>
    import past from '../../middleware/past'


    // this code was blatantly copied from https://chromium.googlesource.com/chromium/src/+/master/chrome/common/extensions/docs/examples/api/history/showHistory/typedUrls.js
    window.addEventListener('load', function () {
      past('twitter')
        .then(urls => {
          console.warn('urls', urls)
        })
        .catch(error => {
          console.error('could not get urls', error)
        })
    });


    class Element extends Polymer.Element {
      static get is() {
        return "donna-app"
      }
    }
    window.customElements.define(Element.is, Element)
  </script>
</dom-module>
