<!-- view -->
<link rel="import" href="donna-view-home/index.html">
<link rel="import" href="donna-view-settings/index.html">

<!-- components -->
<link rel="import" href="donna-chat-bubble-system/index.html">
<link rel="import" href="donna-chat-bubble-user/index.html">
<link rel="import" href="donna-message-bar/index.html">
<link rel="import" href="donna-return-btn/index.html">
<link rel="import" href="donna-nav/index.html">
<link rel="import" href="donna-settings-nav/index.html">
<link rel="import" href="donna-btn/index.html">
<link rel="import" href="donna-chat-loading/index.html">
