<link rel="import" href="../../../../node_modules/@polymer/polymer/polymer-element.html">

<dom-module id="donna-view-settings">
  <template>
    <style>
      :host {
        position: relative;
        width: 600px;
        height: 100vh;
        float: left;
        margin-left: 70px;
      }

      :host .content {
        padding: var(--d-spacing-md);
        padding-top: calc(var(--d-spacing-md) + 42px);
      }

      :host label {
        letter-spacing: var(--d-letter-spacing);
        line-height: var(--d-spacing-lg);
        font-size: var(--d-font-size-md);
        color: var(--d-dark-100);
      }

      :host input[type='checkbox']{
        margin-right: var(--d-spacing-md);
      }


    </style>
    <donna-settings-nav></donna-settings-nav>
    <div class="content">
      <label for="checkbox"><input id="checkbox" type="checkbox" checked>Take over browser new-tab</label>
    </div>
  </template>
  <script>
    class Element extends Polymer.Element {
      static get is() {
        return "donna-view-settings"
      }
    }
    window.customElements.define(Element.is, Element)
  </script>
</dom-module>
