<link rel="import" href="../../../../node_modules/@polymer/polymer/polymer-element.html">

<dom-module id="donna-view-settings">
  <template>
    <style>
      :host {
        position: relative;
        width: 600px;
        height: 100vh;
        float: left;
        margin-left: 70px;
      }


    </style>
    <donna-settings-nav></donna-settings-nav>
  </template>
  <script>
    class Element extends Polymer.Element {
      static get is() {
        return "donna-view-settings"
      }
    }
    window.customElements.define(Element.is, Element)
  </script>
</dom-module>
