<link rel="import" href="../../../../node_modules/@polymer/polymer/polymer-element.html">

<dom-module id="donna-chat-video">
  <template>
    <style>
      
      :host {
        position: relative;
        display: block;
        width: 100%;
        margin-bottom: var(--d-spacing-lg);
      }
      
      :host .video {
        display: inline-block;
        padding: var(--d-spacing-md);
        background-color: var(--d-white);
        border-radius: var(--d-border-radius-lg) var(--d-border-radius-lg) var(--d-border-radius-lg) var(--d-border-radius-sm);
        border: 1px solid var(--d-dark-40);
        color: var(--d-dark-100);
        letter-spacing: var(--d-letter-spacing);
        width: 440px;
        margin-left: var(--d-spacing-lg);
        line-height: var(--d-spacing-lg);
        font-size: var(--d-font-size-md);
      }

      :host .video a {
        display: block;
        width: 100%;
        background-color: var(--d-primary);
        border-radius: var(--d-border-radius-sm);
        cursor: pointer;
      }

      :host .video a img {
        display: block;
        width: 100%;
      };

    </style>

    <div class="video">
      <a href="[[url]]" target="_blank" class="player">
        <img src="[[image]]">
      </div>
    </div>


  </template>
  <script>
    class Element extends Polymer.Element {
      ready () {
        super.ready()
        console.log('video component do we have binding yet?', this.video)
      }
      static get is() {
        return "donna-chat-video"
      }
      static get properties() {
        return {
          image: {
            type: String,
            value: ""
          },
          url: {
            type: String,
            value: ""
          }
        }
      }
    }
    window.customElements.define(Element.is, Element)
  </script>
</dom-module>
