<link rel="import" href="../../../../node_modules/@polymer/polymer/polymer-element.html">

<dom-module id="donna-chat-video">
  <template>
    <style>
      
      :host {
        position: relative;
        display: block;
        width: 100%;
        margin-bottom: var(--d-spacing-lg);
      }
      
      :host .video {
        display: inline-block;
        padding: var(--d-spacing-md);
        background-color: var(--d-white);
        border-radius: var(--d-border-radius-lg) var(--d-border-radius-lg) var(--d-border-radius-lg) var(--d-border-radius-sm);
        border: 1px solid var(--d-dark-40);
        color: var(--d-dark-100);
        letter-spacing: var(--d-letter-spacing);
        width: 440px;
        /*margin-left: 50px;*/
        margin-left: var(--d-spacing-lg);
        line-height: var(--d-spacing-lg);
        font-size: var(--d-font-size-md);
      }

      :host .video .player {
        display: block;
        width: 100%;
        height: 240px;
        background-color: var(--d-primary);
        border-radius: var(--d-border-radius-sm);
        margin-bottom: var(--d-spacing-md);
        cursor: pointer;
      }


      :host .video h3, .video p {
        padding: 0;
        margin: 0;
      }

      :host .video p {
        color: var(--d-dark-80);
      }

      :host .video h3 a{
        color: var(--d-dark-100);
      }

    </style>

    <!-- <div class="donna-avatar"></div> -->
    <div class="video">
      <div class="player"></div>
      <h3><a href="#">Dog does front flip</a></h3>
      <p>Youtube • Grant Harris • 1:27</p>
    </div>


  </template>
  <script>
    class Element extends Polymer.Element {
      static get is() {
        return "donna-chat-video"
      }
      static get properties() {
        return {
          text: {
            type: String,
            value: ""
          }
        }
      }
    }
    window.customElements.define(Element.is, Element)
  </script>
</dom-module>
