<link rel="import" href="../../../../node_modules/@polymer/polymer/polymer-element.html">

<dom-module id="donna-return-btn">
  <template>
    <style>

      :host {
      }

      :host button.return-btn {
        transition: var(--d-transition-sm);
        height: 30px;
        padding: 0 var(--d-spacing-md);
        background-color: var(--d-primary);
        border: 1px solid var(--d-primary-dk);
        color: var(--d-white);
        font-size: 10px;
        letter-spacing: var(--d-letter-spacing);
        border-radius: var(--d-border-radius-sm);
        text-transform: uppercase;
        cursor: pointer;
      }

      :host button.return-btn:hover {
        background-color: var(--d-primary-hl);
      }

    </style>

    <button class="return-btn" on-click="search">Search</button>

  </template>
  <script>
    import boozer from '../../middleware/boozer'
    class Element extends Polymer.Element {
      search() {
        boozer.publish('search')
      }
      static get is() {
        return "donna-return-btn"
      }
    }
    window.customElements.define(Element.is, Element)
  </script>
</dom-module>
