<link rel="import" href="../../../../node_modules/@polymer/polymer/polymer-element.html">

<dom-module id="donna-nav">
  <template>
    <style>
      
      :host {
      }

      :host nav.nav {
        display: block;
        width: 70px;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        background-color: var(--d-dark-100);
      }

      :host nav.nav ul {
        margin: 0;
        padding: 10px 0;

      }

      :host nav.nav ul li {
        transition: var(--d-transition-sm);
        padding: 0;
        display: block;
        width: 50px;
        height: 50px;
        border-radius: var(--d-border-radius-sm);
        margin: 0 0 10px 10px;
        cursor: pointer;
      }

      :host nav.nav ul li:hover {
        background-color: rgba(255,255,255,0.05);
        transform: scale(1.1);
      }

      :host nav.nav ul li svg {
        margin: 15%;
        width: 70%;
        /*padding: 15%;*/
        pointer-events: none;
      }

      .active {
        background-color: rgba(255,255,255,0.05);
        transform: scale(1.1);
      }

    </style>

    <nav class="nav">
      <ul>
        <li on-click="go" data-shite-router-route="donna-view-home">
          <svg class="logo" viewBox="0 0 74 70" xmlns="http://www.w3.org/2000/svg"><g fill="#0087ff" fill-rule="evenodd" transform=""><path d="m31 61.5c-16.8446849 0-30.5-13.6553151-30.5-30.5 0-16.8446849 13.6553151-30.5 30.5-30.5 16.8446849 0 30.5 13.6553151 30.5 30.5 0 16.8446849-13.6553151 30.5-30.5 30.5zm0-11c10.7695526 0 19.5-8.7304474 19.5-19.5 0-10.7695526-8.7304474-19.5-19.5-19.5-10.7695526 0-19.5 8.7304474-19.5 19.5 0 10.7695526 8.7304474 19.5 19.5 19.5z" fill-rule="nonzero"/><circle cx="65" cy="61" r="9"/></g></svg>
        </li>
        <li on-click="go" data-shite-router-route="donna-view-home">
          <svg viewBox="0 0 74 70" xmlns="http://www.w3.org/2000/svg"><g fill="#0087ff" fill-rule="evenodd" transform=""><path d="m31 61.5c-16.8446849 0-30.5-13.6553151-30.5-30.5 0-16.8446849 13.6553151-30.5 30.5-30.5 16.8446849 0 30.5 13.6553151 30.5 30.5 0 16.8446849-13.6553151 30.5-30.5 30.5zm0-11c10.7695526 0 19.5-8.7304474 19.5-19.5 0-10.7695526-8.7304474-19.5-19.5-19.5-10.7695526 0-19.5 8.7304474-19.5 19.5 0 10.7695526 8.7304474 19.5 19.5 19.5z" fill-rule="nonzero"/><circle cx="65" cy="61" r="9"/></g></svg>
        </li>
        <li on-click="go" data-shite-router-route="donna-view-settings">
          <svg viewBox="0 0 74 70" xmlns="http://www.w3.org/2000/svg"><g fill="#0087ff" fill-rule="evenodd" transform=""><path d="m31 61.5c-16.8446849 0-30.5-13.6553151-30.5-30.5 0-16.8446849 13.6553151-30.5 30.5-30.5 16.8446849 0 30.5 13.6553151 30.5 30.5 0 16.8446849-13.6553151 30.5-30.5 30.5zm0-11c10.7695526 0 19.5-8.7304474 19.5-19.5 0-10.7695526-8.7304474-19.5-19.5-19.5-10.7695526 0-19.5 8.7304474-19.5 19.5 0 10.7695526 8.7304474 19.5 19.5 19.5z" fill-rule="nonzero"/><circle cx="65" cy="61" r="9"/></g></svg>
        </li>
      </ul>
    </nav>



  </template>
  <script>
    import boozer from '../../middleware/boozer'
    class Element extends Polymer.Element {
      go (e) {
        boozer.publish('shite-router-go', e.path[0].dataset.shiteRouterRoute)
        Array.from(this.shadowRoot.querySelectorAll("li")).forEach(element => {
          element.classList.remove('active')
        })
        e.path[0].classList.add('active')

      }


      static get is() {
        return "donna-nav"
      }
    }
    window.customElements.define(Element.is, Element)
  </script>
</dom-module>
